*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
img{
    width: 100%;
}

.container{
    position: relative;
    width: 60%;
    height: 1000px;
    margin: auto;
    background-color: palevioletred;
}

.row{
    position: relative;
    background-color: tomato;
    height: 505px;;
    text-align: center;
}


.casella-shop{
    display: inline-block;
    width: 300px;
    position: relative;
    left: 15px;
    top: 15px;
    cursor: pointer;

}

.cuore{
    display: inline-block;
    width: 40px;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 15px;
    right: 0;
}

.cuore :first-child{
    display: inline-block;
    font-size: 40px;
    text-align: center;
}

.percentuale{
    background-color: #eb0037;
    display: inline-block;
    border-radius: 70%;
    position: absolute;
    bottom: 40px;
    left: 3px;
}

.percentuale :first-child{
    color: white;
    font-size: 15px;
    padding: 3px;
}

.scritta{
    background-color: #00875a;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.scritta :first-child{
    color: white;
    font-size: 15px;
    padding: 3px;
}

.casella-shop .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.casella-shop:hover .img-top{
    display: inline;
}

.info{
    position: absolute;
}

.info *{
    display: block;
}

.info :first-child{
    font-family: monospace;
    text-align: left;
}

.info :nth-child(2){
    font-weight: 600;
}

.info :last-child{
    position: absolute;
    left: 0;
    text-align: left;
    font-weight: 600;
    color: red;
    
}
.info :last-child :last-child{
    position: absolute;
    left: 55px;
    color: black;
    display: inline-block;
}



